       <%- include('partials/header'); -%>
        <h1><%= post.title %></h1>
        <p><%= post.content %></p>
        <p><a href="/edit/<%= post._id %>">Edit</a></p>

        <p><a href="/delete/<%= post._id %>">Delete</a></p>
        <%- include('partials/footer'); -%>